@charset "UTF-8";
body {
  color: #757575;
  background: FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

/* button */
.hero__button,
.modal-form__button {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.portfolio__button {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  line-height: 1.6;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover, .portfolio__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Шапка сайта нижняя линяя */
.header {
  border-bottom: 1px solid #ececec;
}

.header__contenier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
}

.header__list {
  display: none;
}

.header__button.header__close {
  display: none;
}

.header__button.header__close.is-open {
  display: block;
}

.header__button.header__menu {
  display: block;
}

.header__button.header__menu.is-open {
  display: none;
}

@media screen and (min-width: 480px) {
  .header__contenier {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__contenier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding: 20px 15px;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .list-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 294px;
    margin-left: 50px;
  }
  .list-contact {
    width: 140px;
    height: 38px;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .list-nav__link {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-nav__link:hover, .list-nav__link:focus {
    color: #2196f3;
  }
  .list-nav__link--current {
    color: #2196f3;
  }
  .list-nav__link--current::after {
    content: " ";
    position: absolute;
    margin-top: 28px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196f3;
  }
  .list-nav__item {
    position: relative;
  }
  /* Контакты в шапке сайта */
  .list-contact__item:last-child {
    margin-top: 10px;
  }
  .list-contact__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-contact__link:hover, .list-contact__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
  .list-contact__icon {
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-contact__icon--email {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  .list-contact__icon--telefon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contenier {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .list-contact {
    width: 333px;
  }
  /* Контакты в шапке сайта */
  .list-contact__item:last-child {
    margin-top: 0px;
  }
  .list-contact__link {
    font-size: 14px;
  }
  .list-contact__icon--email {
    margin-right: 10px;
  }
  .list-contact__icon--telefon {
    margin-right: 10px;
  }
}

/* логотип компнаиии */
.header__logo--link {
  color: black;
  text-decoration: none;
  font-family: Raleway, cursive;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
}

.header__logo--black {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 94px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    right: 0;
    display: inline-block;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: white;
    z-index: 2;
  }
  .menu-button__close {
    display: none;
  }
  .menu-button.is-open .menu-button__close {
    display: block;
  }
  .menu-button.is-open .menu-button__open {
    display: none;
  }
  .menu-conteiner {
    display: none;
  }
  .menu-conteiner.is-open {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 767px;
    height: 100%;
    background-color: #ffffff;
    padding: 48px 83px 48px 40px;
    z-index: 1;
  }
  .menu-conteiner.is-open .header-mobail__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .menu-conteiner.is-open .menu-nav {
    margin-bottom: 302px;
  }
  .menu-conteiner.is-open .menu-nav__item {
    margin-bottom: 32px;
  }
  .menu-conteiner.is-open .menu-nav__link {
    text-decoration: none;
    color: #212121;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0.02em;
  }
  .menu-conteiner.is-open .menu-nav__link--current {
    color: #2196f3;
  }
  .menu-conteiner.is-open .menu-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .menu-conteiner.is-open .menu-contact__link--tel {
    color: #2196f3;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
  .menu-conteiner.is-open .menu-contact__link--email {
    color: #757575;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .menu-conteiner.is-open .menu-contact {
    margin-bottom: 64px;
  }
  .menu-conteiner.is-open .menu-network {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    max-width: 357px;
  }
  .menu-conteiner.is-open .menu-network__link {
    text-decoration: none;
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  .menu-conteiner.is-open .menu-network__item:not(:last-child) {
    margin-right: 20px;
  }
  .menu-conteiner.is-open .menu-network__item::before {
    content: "";
    width: 1px;
    height: 22px;
    background-image: url(../img/line.svg);
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu-conteiner {
    display: none;
  }
}

@media screen and (max-width: 440px) {
  .menu-conteiner.is-open {
    padding: 48px 33px 48px 20px;
  }
  .menu-conteiner.is-open .menu-contact__link--tel {
    font-size: 24px;
    line-height: 1.2;
  }
  .menu-conteiner.is-open .menu-nav {
    margin-bottom: 250px;
  }
  .menu-conteiner.is-open .menu-network {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-conteiner.is-open .menu-network__item {
    margin-top: 8px;
  }
}

/* Герой */
.hero {
  text-align: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/jpg/bg-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/jpg/bg-mobile.jpg");
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/jpg/bg-mobile@2x.jpg ");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/jpg/bg-mobile@2x.jpg ");
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/jpg/bg-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/jpg/bg-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/jpg/bg-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/jpg/bg-tablet@2x.jpg");
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/jpg/bg-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/jpg/bg-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/jpg/bg-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/jpg/bg-desktop@2x.jpg");
  }
}

.hero__conteiner {
  width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 480px) {
  .hero__conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero__conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__conteiner {
    padding-top: 200px;
    height: 600px;
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
  }
}

/* Наши преимущества */
.advange__title {
  visibility: hidden;
  font-size: 0%;
  padding: 1;
  margin: -1;
}

.advange {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advange__contenier {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.advange__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advange__item {
  width: 100%;
}

.advange__item:not(:last-child) {
  margin-bottom: 30px;
}

.item-advange__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.item-advange__icon {
  width: 70px;
  height: 70px;
}

.item-advange__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
}

.item-advange__text {
  line-height: 1.7;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .advange__contenier {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .advange__contenier {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .advange__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advange__item {
    width: calc(100% / 2 - 15px);
    height: 251px;
    margin-bottom: 30px;
  }
  .advange__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
    max-height: 226px;
  }
  .item-advange__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advange {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advange__contenier {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .advange__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advange__item {
    width: calc((100% - 90px) / 4);
  }
  .advange__item:not(:last-child) {
    margin-right: 30px;
  }
  .item-advange__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .item-advange__icon {
    width: 70px;
    height: 70px;
  }
}

/* Чем мы занимаемся */
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
  .work__conteiner {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .work__title {
    margin-bottom: 50px;
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .work__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -30px;
  }
  .work__item {
    margin-left: 30px;
    position: relative;
    width: 370px;
  }
  .work__box {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
  .work__text {
    font-weight: bold;
    line-height: 1.15;
    text-transform: uppercase;
    color: #ffffff;
  }
}

/*  Наша команда */
.teams {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.teams__contenier {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.teams__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
}

.teams__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.teams__item {
  max-width: 100%;
  max-height: 662px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

.teams__item:not(:last-child) {
  margin-bottom: 30px;
}

.teams__img {
  display: block;
  width: 100%;
  height: auto;
  background-size: contain;
}

.teams__card {
  width: 151px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 30px;
}

.teams__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 10px;
}

.teams__profession {
  font-size: 16px;
  text-align: center;
}

.teams__contact {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.contact-teams__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
  fill: #afb1b8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-teams__link:hover, .contact-teams__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.contact-teams__icon {
  width: 44px;
  height: 44px;
  padding: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .teams__contenier {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .teams__contenier {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .teams__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .teams__item {
    width: calc(100% / 2 - 15px);
    height: 536px;
    margin-bottom: 30px;
  }
  .teams__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .teams {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .teams__contenier {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .teams__title {
    margin-bottom: 50px;
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .teams__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .teams__item {
    width: calc(100% / 4 - 30px);
    height: 428px;
    padding-bottom: 30px;
  }
  .teams__item:not(:last-child) {
    margin: 0px;
  }
}

/* Постоянные клиенты */
.partner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partner__conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.partner__title {
  display: block;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.partner__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.partner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-left: 30px;
}

.partner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  padding: 16px 52px;
  fill: #afb1b8;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partner__link:hover, .partner__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.partner__icon {
  width: 106px;
  height: 60px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .partner__conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .partner__conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .partner__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partner__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .partner__conteiner {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .partner__link {
    width: 170px;
    padding: 16px 32px;
  }
}

/* Футер*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.foter__contacts {
  margin-bottom: 60px;
}

.logo-footer__link {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, cursive;
  font-size: 24px;
  line-height: 1.2;
}

.logo-footer__blue {
  color: #2196f3;
}

.adress-footer {
  display: inline-block;
  width: 100%;
  max-width: 232px;
}

.adress-footer__street {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #ffffff;
  line-height: 1.7;
  font-style: normal;
}

.adress-footer__contacts {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 8px;
}

.footer__annexes {
  width: 100%;
  max-width: 206px;
  height: 80px;
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.annexes-footer__titel {
  color: #ffffff;
  font-weight: bold;
  line-height: 1, 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__form {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.annexes-footer__list {
  width: 100%;
  max-width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.annexes-footer__item {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.annexes-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.annexes-footer__link:hover, .annexes-footer__link:focus {
  background-color: #2196f3;
}

.annexes-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* Форма отправки email */
.form-footer__text {
  display: inline-block;
  padding-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.form-footer__input {
  padding-left: 16px;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form-footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 0;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form-footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.form-footer__label {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer__conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }
  .footer__annexes {
    margin-right: 0;
  }
  .footer__form {
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .foter__contacts {
    width: 100%;
    max-width: 231px;
    height: 132px;
    margin: 0px;
    text-align: left;
  }
  .footer__annexes {
    margin-left: 70px;
    margin-bottom: 0px;
    text-align: left;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 570px;
    height: 86px;
    margin: 0px;
    margin-left: auto;
    text-align: left;
  }
  .form-footer__text {
    text-align: left;
  }
  .form-footer__label {
    margin-bottom: 0px;
    text-align: left;
  }
  .form-footer__input {
    margin-right: 12px;
    width: 100%;
    max-width: 358px;
    margin-bottom: 0px;
  }
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop__form {
  padding: 40px;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop__button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  fill: #212121;
}

.backdrop__button:hover, .backdrop__button:focus {
  outline: none;
  fill: #2196f3;
}

.backdrop__close {
  width: 11px;
  height: 11px;
  margin: auto;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__conteiner {
  width: 100%;
  max-width: 370px;
  max-height: 529px;
}

.modal-form__titel {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-form__label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  fill: #212121;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.3);
}

.modal-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.3);
}

.modal-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.3);
}

.modal-form__input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.3);
}

.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__input--textarea {
  width: 100%;
  max-height: 120px;
  padding: 12px;
  resize: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input--textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input--textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input--textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input--textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  position: absolute;
  top: 37%;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.form-accept__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
}

.form-accept__input {
  margin-right: 8px;
}

.form-accept__text {
  font-size: 12px;
  line-height: 1.1;
  color: #757575;
}

.form-accept__link {
  color: #2196f3;
}

.modal-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-accept__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-accept__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-accept__checkbox {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
}

.form-accept__input:checked + .form-accept__checkbox {
  background-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  border: 2px solid #2196f3;
  background-size: contain;
  background-origin: border-box;
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
  .modal-form__conteiner {
    width: 448px;
    height: 501px;
  }
  .form-accept__text {
    font-size: 14px;
    line-height: 1.7;
  }
}
/*# sourceMappingURL=main.css.map */