/* Шапка сайта нижняя линяя */
.header {
  border-bottom: 1px solid #ececec;
  padding: 10px 15px;
}

.header__contenier {
  width: 100%;
  height: 60px;
  @include flex($content: space-between);
}

.header__list {
  display: none;
}

.header__button {
  &.header__close {
    display: none;
    &.is-open {
      display: block;
    }
  }

  &.header__menu {
    display: block;
    &.is-open {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .header__contenier {
    @include conteiner($width: 480px);
    padding: 0px;
  }
}

@media screen and (min-width: 768px) {
  .header__contenier {
    @include flex($content: space-between);
    @include conteiner($width: 768px);
    height: 80px;
    padding: 21px 15px;
  }

  .header__nav {
    @include flex($content: space-between);
    @include list;
  }

  .list-nav {
    @include list;
    @include flex($content: space-between);
    width: 294px;
    margin-left: 50px;
  }

  .list-contact {
    width: 140px;
    height: 38px;
    display: block;
    @include list;
  }

  .list-nav__link {
    color: $titel-text-color;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    @include transition();
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .list-nav__link--current {
    color: $accent-color;
    &::after {
      content: " ";
      position: absolute;
      margin-top: 28px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $accent-color;
    }
  }

  .list-nav__item {
    position: relative;
  }

  /* Контакты в шапке сайта */

  .list-contact__item {
    &:last-child {
      margin-top: 10px;
    }
  }

  .list-contact__link {
    @include flex($content: flex-start);

    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: $praimeri-text-color;
    fill: $praimeri-text-color;

    @include transition;
    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  .list-contact__icon {
    @include transition(fill);
  }

  .list-contact__icon--email {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  .list-contact__icon--telefon {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contenier {
    @include conteiner;
  }

  .header__list {
    @include flex($content: space-between);
    @include list;
  }

  .list-contact {
    width: 333px;
  }

  /* Контакты в шапке сайта */
  .list-contact__item {
    &:last-child {
      margin-top: 0px;
    }
  }
  .list-contact__link {
    font-size: 14px;
  }

  .list-contact__icon--email {
    margin-right: 10px;
  }

  .list-contact__icon--telefon {
    margin-right: 10px;
  }
}
