@media screen and (max-width: 767px) {
  .menu-button {
    right: 0;
    display: inline-block;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: white;
    z-index: 2;
  }

  .menu-button__close {
    display: none;
  }

  .menu-button.is-open .menu-button__close {
    display: block;
  }

  .menu-button.is-open .menu-button__open {
    display: none;
  }

  .menu-conteiner {
    display: none;
  }

  .menu-button.is-open {
    position: fixed;
    top: 10px;
    right: 15px;
  }

  .menu-conteiner.is-open {
    position: fixed;
    @include flex($content: space-between, $align: flex-start);
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 767px;
    height: 100%;
    background-color: $white-text-color;
    padding: 48px 33px 48px 40px;
    z-index: 1;

    & .header-mobail__list {
      @include list;
    }
    & .header-mobail__nav {
      margin-bottom: 80px;
    }
    & .menu-nav__item {
      margin-bottom: 32px;
    }

    & .menu-nav__link {
      text-decoration: none;
      color: $titel-text-color;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      text-align: left;
      letter-spacing: 0.02em;
    }

    & .menu-nav__link--current {
      color: $accent-color;
    }

    & .menu-contact__link--tel {
      color: $accent-color;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
    }

    & .menu-contact__link--email {
      color: $praimeri-text-color;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
    }
    & .menu-contact {
      margin-bottom: 44px;
    }
    & .menu-network {
      @include flex($content: flex-start);
      width: 100%;
      max-width: 380px;
    }

    & .menu-network__link {
      text-decoration: none;
      color: $accent-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
    }

    & .menu-network__item::before {
      display: inline-block;
    }

    & .menu-network__item:not(:first-child)::before {
      display: inline-block;
      content: " ";
      width: 1px;
      height: 22px;
      background-image: url(../img/line.svg);
      margin-left: 9px;
      margin-right: 9px;
    }

    & .menu-contact__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu-conteiner {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .menu-conteiner.is-open {
    padding: 48px 33px 48px 20px;

    & .menu-contact__link--tel {
      font-size: 24px;
      line-height: 1.2;
    }

    & .header-mobail__nav {
      margin-bottom: 80px;
    }

    & .menu-network {
      flex-wrap: wrap;
    }
  }
}
