@media screen and (max-width: 767px) {
  .menu-button {
    right: 0;
    display: inline-block;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: white;
  }

  .menu-button__close {
    display: none;
  }

  .menu-button.is-open .menu-button__close {
    display: block;
  }

  .menu-button.is-open .menu-button__open {
    display: none;
  }

  .menu-conteiner {
    display: none;
  }

  .menu-conteiner.is-open {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 767px;
    height: 100%;
    margin-top: 60px;
    background-color: $white-text-color;
    padding: 48px 83px 48px 40px;
  }
  & .header-mobail__list {
    @include list;
  }
  & .menu-nav {
    margin-bottom: 302px;
  }

  & .menu-nav__item {
    margin-bottom: 32px;
  }

  & .menu-nav__link {
    text-decoration: none;
    color: $titel-text-color;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0.02em;
  }

  & .menu-nav__link--current {
    color: $accent-color;
  }

  & .menu-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }

  & .menu-contact__link--tel {
    color: $accent-color;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  & .menu-contact__link--email {
    color: $praimeri-text-color;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  & .menu-contact {
    margin-bottom: 64px;
  }
  & .menu-network {
    @include flex($content: flex-start);
  }

  & .menu-network__link {
    text-decoration: none;
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
  }
  & .menu-network__item:not(:last-child) {
    margin-right: 20px;
  }
  & .menu-network__item::before {
    content: "";
    background-image: url(../../img/Line.svg);
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .menu-conteiner {
    display: none;
  }
}
