/* Страница портфолио сайта */
.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__contenier {
  @extend %conteiner;
}

/* Скрытый заголовок */
.portfolio__title {
  visibility: hidden;
  font-size: 0%;
  padding: 0;
  margin: 0;
}

.portfolio__list {
  @include flex;
  @extend %list;
  margin-bottom: 50px;
}

.portfolio__item {
  margin-right: 8px;
}

.product__list {
  @include flex($content: space-between);
  flex-wrap: wrap;
  @extend %list;
}

.product__item {
  overflow: hidden;
  flex-basis: calc(100% / 3 -60px);
  margin-bottom: 30px;

  @include transition(box-shadow);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product__name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product__title {
  margin-bottom: 4px;

  color: $titel-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__link {
  text-decoration: none;
}

.product__text {
  color: $praimeri-text-color;
  font-size: 16px;
  line-height: 1.9;
}

.product__conteiner {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.product__background {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  @include transition(transform);

  .product__item:hover & {
    transform: translateY(0%);
  }
}

.product__backgroundtext {
  margin: 63px 24px;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: $white-text-color;
}
