/* Страница портфолио сайта */

.portfolio__section {
  padding: 60px 15px;
}

.portfolio__contenier {
  width: 100%;
}

/* Скрытый заголовок */
.portfolio__title {
  visibility: hidden;
  font-size: 1;
  padding: 0;
  margin: -1;
}
.portfolio__list {
  @include flex($content: flex-start);
  @include list;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio__item {
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.product__list {
  @include flex($content: space-around);
  flex-wrap: wrap;
  @include list;
}

.product__item {
  overflow: hidden;
  margin-bottom: 30px;
}

.product__name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.product__title {
  margin-bottom: 4px;

  color: $titel-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__link {
  text-decoration: none;
}

.product__text {
  color: $praimeri-text-color;
  font-size: 16px;
  line-height: 1.9;
}

.product__conteiner {
  position: relative;
  max-width: 450px;
  max-height: 404px;
  overflow: hidden;
}

.product__background {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);

  @include transition(transform);

  .product__item:hover & {
    transform: translateY(0%);
  }
}

.product__backgroundtext {
  margin: 63px 24px;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: $white-text-color;
}

@media screen and (max-width: 480px) {
  .portfolio__contenier {
    @include conteiner($width: 480px);
  }
}

@media screen and (min-width: 768px) {
  .portfolio__contenier {
    @include conteiner($width: 768px);
  }
  .portfolio__list {
    @include flex;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio__contenier {
    @include conteiner;
  }

  .portfolio__list {
    margin-bottom: 50px;
  }

  .product__item {
    flex-basis: calc(100% / 3 - 20px);

    @include transition(box-shadow);

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  .product__conteiner {
    width: 370px;
    height: 294px;
  }
}
