/* Постоянные клиенты */
.partner {
  padding: 60px 15px;
}

.partner__title {
  display: block;
  @include section-title;
  margin-left: auto;
  margin-right: auto;
}

.partner__list {
  @include flex($content: space-around);
  @include list;
  flex-wrap: wrap;
}

.partner__item {
  @include flex;

  margin-bottom: 30px;
}

.partner__link {
  @include flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  max-width: 210px;
  max-height: 92px;
  padding: 16px 52px;
  fill: $icon-color;

  @include transition(border);

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}

.partner__icon {
  width: 106px;
  height: 60px;

  @include transition(fill);
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 786px) {
}

@media screen and (min-width: 1200px) {
  .partner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .partner__conteiner {
    @include conteiner;
  }
  .partner__item {
    @include flex;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .partner__link {
    width: 170px;
    padding: 16px 32px;
  }
}
