/* Герой */
.hero {
  text-align: center;
  width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero-background.jpg");
  padding-top: 118px;
}

.hero__title {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  max-width: 360px;
  color: $white-text-color;
  font-weight: 900;

  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}

// @media screen and (max-width: 480px) {
// }

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero__title {
    max-width: 696px;
  }
}
