/*  Наша команда */
.teams {
  padding: 60px 15px;
  background-color: #f5f4fa;
}

.teams__title {
  @include section-title;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
}

.teams__list {
  @include list;
}

.teams__item {
  max-width: 460px;
  max-height: 662px;
  background-color: $white-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.teams__img {
  display: block;
  width: 100%;
  height: auto;
  background-size: contain;
}

.teams__card {
  width: 151px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  margin-top: 30px;
}

.teams__name {
  color: $titel-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 10px;
}

.teams__profession {
  font-size: 16px;
  text-align: center;
}

.teams__contact {
  display: block;
  @include list;
  @include flex($content: space-between);
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.contact-teams__link {
  @include flex;
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
  fill: $icon-color;

  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $white-text-color;
  }
}
.contact-teams__icon {
  width: 44px;
  height: 44px;
  padding: 12px;

  @include transition(fill);
}

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 768px) {
  .teams {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .teams__list {
    @include flex;
    flex-wrap: wrap;
  }

  .teams__item {
    max-width: 354px;
    max-height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .teams__contenier {
    @include conteiner;
  }
  .teams__title {
    @include section-title;
  }
  .teams__list {
    @include flex;
    margin-left: -30px;
  }

  .teams__item {
    max-width: 270px;
    max-height: 428px;
    margin-left: 30px;
    padding-bottom: 30px;
  }
}
