/* Наши преимущества */
// Скрытый заголовок

.advange__title {
  visibility: hidden;
  font-size: 0%;
  padding: 1;
  margin: -1;
}

.advange {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advange__contenier {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.advange__list {
  @include list;
}

.advange__item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.item-advange__box {
  @include flex;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.item-advange__icon {
  width: 70px;
  height: 70px;
}

.item-advange__title {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $titel-text-color;
}

.item-advange__text {
  line-height: 1.7;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .advange__contenier {
    @include conteiner($width: 480px);
  }
}

@media screen and (min-width: 768px) {
  .advange__contenier {
    @include conteiner($width: 768px);
  }

  .advange__list {
    @include flex($content: space-between);
    flex-wrap: wrap;
  }

  .advange__item {
    width: calc(100% / 2 - 15px);
    height: 251px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
      max-height: 226px;
    }
  }

  .item-advange__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .advange {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advange__contenier {
    @include conteiner;
  }

  .advange__list {
    @include flex($content: space-between, $align: flex-start);
  }

  .advange__item {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .item-advange__box {
    @include flex();
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .item-advange__icon {
    width: 70px;
    height: 70px;
  }
}
